.personal-info {
    background-color: white;
    padding-top: 20px;
    height: 100vh;
}

.info-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    height: 90vh;
    margin: auto;
    padding: 30px;
}