.my-alert {
    background-color: yellow;
    width: 100% !important;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: fixed;
    z-index: 3 !important;
}