.modal-title{
    width: 100%;
}

.header-modal{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-body{
    background-color: rgb(21, 78, 107);
    overflow-y: scroll;
    max-height: 85vh;
    font-family: 'Roboto Condensed', sans-serif;

}

.modal-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.modal-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #154E6B; /* should match background, can't be transparent */
    background-color: rgba(255, 255, 255, .5);
}

.modal-header{
    background-color: rgb(21, 78, 107);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.img-modal{
    background-color: white;
}