
.vertical-timeline-element-date{
    text-shadow: 5px 5px 5px #000000;
    margin: 0 20px;
    color: rgb(239, 160, 11);
    font-weight: 700 !important;
    font-size: 20px !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.vertical-timeline-element-icon{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.vertical-timeline-element-icon img{
   height: 100%
}

.vertical-timeline-element--work h5{
    color: rgb(21, 78, 107);
}

.vertical-timeline-element--work a{
    color: black;
}
